{% extends 'base_sistema.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="col-10 ">

           <div class="container">
               <div class="row">
                  <div class="col-12 titulo_cadastro">
                       <div ><b>Cadastro de Memorial</b></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12">
                       <hr style="height:5px;border-width:0;color:gray;background-color:gray">
                  </div>
               </div>
               <div class="conteudo_form row" align="center">
                   <div class="col-12">
                        <form method="post" autocomplete="off" >
                            {% csrf_token %}
                            <table style="border-collapse:separate; border-spacing:20px 20px">
                                <tbody>
                                        <tr>
                                            <td  align="right"><div class="form-horizontal"><b>Descrição:</b></div></td>
                                            <td  align="left"><input type="text" name="descricao" id="descricao" size="150" maxlength="150" placeholder="Descrição do Memorial" required ></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td  align="right"><div class="form-horizontal"><b>Data do Memorial:</b></div></td>
                                            <td  align="left"><input type="data_memorial" name="data_base" id="data_memorial" size="10" maxlength="10" placeholder="Data do Memorial" required ></td>
                                            <td></td>
                                        </tr>
                                 </tbody>
                            </table>
                            <div class="grupo_botoes_form">
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                        <button type="button" class="btn btn-warning">
                                            <a href="{% url 'sistema' %}">Cancelar</a>
                                        </button>
                                    {% endbuttons %}
                            </div>
                        </form>
                   </div>
           </div>
    </div>
{% endblock %}
